@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.splide__arrow svg{
    background-color: white ;
    border-radius: 50%;
    padding: 19px;
    fill: #000;
    height: 4rem ;
    width: 4rem ;
    position: absolute;
}
.splide__arrow svg:hover{
  color:#db2777;
}
html {
  scroll-behavior: smooth;
}
button, [type='button'], [type='reset']{
    background-color: white;
}
.splide__pagination__page {
    width: 1.5rem;
    height: 1.5rem;
}
.splide__pagination li{
    line-height: 3;
}
@media screen and (max-width:760px) {
    .splide__pagination__page {
        width: 1rem;
        height: 1rem;
    }
    .splide__arrow svg{
        background-color: white ;
        padding: 7px;
        fill: #000;
        height: 2rem ;
        width: 2rem ;
        position: absolute;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
}


}
.myoption{
    margin:10px  !important;
    cursor: pointer !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.myoption:hover{
    background: #000 !important;
}
.css-13cymwt-control{
    padding: 3px;
    outline: none !important;
    border: none;
}


.css-13cymwt-control:hover{
    border-color: none !important;
}
#menu-Item{
    min-width: 20px !important;
}
.scroll-hidden::-webkit-scrollbar{
    display: none;
  }
  .blur-effect-theme {
    @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
  }
  .footer-color{
    background-color: #0a1c3a;
  }
  .chakra-slide{
    background-color:#db2777 !important;
    color: white !important;
    padding: 20px;
    width: 100% !important;
    height: 100vh !important;
}
.css-1oxhx2p{
    z-index: 100;
}
  @media screen and (max-width:500px) {
    .chakra-slide{
    width: 100% !important;
    
    }
  }
  .splide__pagination__page.is-active{
    background-color:#db2777 !important;
    
  }
  .chakra-modal__close-btn{
    background-color: transparent;
  }
  .css-4xx2wk{
    background-color: transparent;
  }
  .custom-splide .splide__arrow {
    top: 95%;
    /* color: white; */
    
    transform: translateY(-50%);
    
  }
  .custom-splide{
    width:100%;
  }
  .custom-splide .splide__arrow--prev {
    left: 14rem;
    /*Adjusttheleftpositionasperyourneeds*/right: auto;
    width: 60px;
    height: 60px;
    opacity: 1;
    filter: invert(1);
    /*padding: 10px;
    */background: white;
    -webkit-filter: invert(1);
    transform: all 0.5s;
    -webkit-transform: all 0.5s;
    -moz-transform: all 0.5s;
    -ms-transform: all 0.5s;
    -o-transform: all 0.5s;
  }
  
  .custom-splide .splide__arrow--next {
    right: 0rem;
    /*Adjusttherightpositionasperyourneeds*/left: 19rem;
    z-index: 10;
    opacity: 1;
    width: 60px;
    height: 60px;
    filter: invert(1);
    /*padding: 10px;
    */background: white;
    -webkit-filter: invert(1);
  }
  .custom-splide .splide__arrow--next:hover{
    /*outline: none;
    */background-color: rgb(107, 161, 7);
    transition:all 0.5s ;
    scale: 1.1;
  
    -webkit-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
    -ms-transition:all 0.5s ;
    -o-transition:all 0.5s ;
  }
  .custom-splide .splide__arrow--prev:hover{
    /*outline: none;
    */background-color: rgb(107, 161, 7);
    transition:all 0.5s ease-in-out;
    scale: 1.1;
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
  }
  .example {
    transition: all 0.75s;
  }
  
  .example.preEnter,
  .example.exiting {
    opacity: 0;
    transform: scale(0.5);
  }
  
  .example.exited {
    display: none;
  }
  .overlay{
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient( to top,#f2f2f2,rgba(255,255,255,0.5));

    height: 100%;
    cursor: pointer;
    border-radius: 7px;
    opacity: 0;
    transition: 0.5s;
  }
  .services-img:hover .overlay{
    opacity: 0.8;
  }
  .services-desc{
    width: 80%;
    bottom: 0%;
    position: absolute;
    left: 9%;
    /* transform: translateX(-50px); */
    /* color: white; */
    transition: 0.5s;
    opacity: 0;
  }
  hr{
    color: white;
    margin: 15px auto;
    width: 60%;
  }
  .services-img:hover .services-desc{
    opacity: 0.8;
    bottom: 30%;
  }
  
  .css-pv22qu{
    max-width: 40rem !important;
    position: relative !important;
  }
  @media screen and (max-width:700px){
    .services-img{
        /* flex-basis: 100%; */
        margin-bottom: 30px;
    }
    .services-img:hover .services-desc{
        bottom: 25%;
    }
    
  }
  .css-ez23ye{
    background-color: transparent !important;
  }